@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Oswald", sans-serif;
}

body{
    background-color: rgb(67, 68, 92);
    align-items: center;
    justify-content: center;
}

.tituloC{
    padding-top: 5%;
}

#navbar{
    width: 100%;
    height: 20vh;
    background-color: rgb(68, 68, 68);
    border: 3px solid black;
}

.button_nav_dad{
    width: 100vw;
    height: 15vh;
    margin-top: 1%;
    display: flex;
    justify-self: center;
    align-items: center;
    background-color: rgb(0, 0, 0);
}

.button_nav{
    width: 19vw;
    height: 10vh;
    margin-left: 0.7%;
    background-color: rgb(0, 49, 49);
    display: inline-block;
    border-radius: 10px;
    border: 1px solid white;
}

#main{
    width: 90%;
    height: 220vh;
    margin-left: auto;
    margin-right: auto;
    background-color: rgb(32, 45, 65);
    display: flex;
    justify-self: center;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
}


.jogos{
    width: 15vw;
    height: 40vh;
    background-color: rgb(255, 254, 195);
    margin: 10px;
    border-radius: 10px;
    transition: 0.5s;
    overflow: hidden;
}

.jogos:hover{
    transition: 0.5s;
}

.jogos:hover .sobre{
    opacity: 1;
    transition: 0.6s;
    margin-left: 0%;
    color: antiquewhite;
}

#capa1{
    background-image: url('assets/Far_cry_3_box_art.jpg');
    background-size: cover;
    background-position: center;
}

#capa2{
    background-image: url('assets/Red_Dead_Redemption_2.png');
    background-size: cover;
    background-position: center;
}

#capa3{
    background-image: url('assets/Elden_Ring_capa.jpg');
    background-size: cover;
    background-position: center;
}

#capa4{
    background-image: url('assets/Dying_Light_jogo_capa.jpg');
    background-size: cover;
    background-position: center;
}

#capa5{
    background-image: url('assets/Limbus_Company_cover.png');
    background-size: cover;
    background-position: center;
}

#capa6{
    background-image: url('assets/Capa_de_Forza_Horizon_5.jpg');
    background-size: cover;
    background-position: center;
}

#capa7{
    background-image: url('assets/Hollow_Knight_Silksong_cover.jpeg');
    background-size: cover;
    background-position: center;
}

#capa8{
    background-image: url('assets/Dmc3.png');
    background-size: cover;
    background-position: center;
}

#capa9{
    background-image: url('assets/The_Last_of_Us_Part_I.png');
    background-size: cover;
    background-position: center;
}

#capa10{
    background-image: url('assets/Resident_Evil_4_remake_cover_art.jpg');
    background-size: cover;
    background-position: center;
}

#capa11{
    background-image: url('assets/007_First_Light_(2026)_cover.jpg');
    background-size: cover;
    background-position: center;
}

#capa12{
    background-image: url('assets/Grand_Theft_Auto_V.png');
    background-size: cover;
    background-position: center;
}

#capa13{
    background-image: url('assets/HK_Cover_Art.webp');
    background-size: cover;
    background-position: center;
}

#capa14{
    background-image: url('assets/ff1fd64d480bd79f33f0de692bb45ea0.jpg');
    background-size: cover;
    background-position: center;
}

#capa15{
    background-image: url('assets/Resident_Evil_2_Remake.jpg');
    background-size: cover;
    background-position: center;
}

#capa16{
    background-image: url('assets/ShadowOfTheColossus2018.jpg');
    background-size: cover;
    background-position: center;
}

#capa17{
    background-image: url('assets/Clair_Obscur,_Expedition_33_Cover_1.webp');
    background-size: cover;
    background-position: center;
}

#capa18{
    background-image: url('assets/Call_of_Duty_Modern_Warfare_2_(2009)_cover.png');
    background-size: cover;
    background-position: center;
}

#capa19{
    background-image: url('assets/TLOU_P2_Box_Art_2.png');
    background-size: cover;
    background-position: center;
}

#capa20{
    background-image: url('assets/Grounded_game_cover_art.jpg');
    background-size: cover;
    background-position: center;
}

.sobre{
    width: 100%;
    height: 100vh;
    margin-left: 100%;
    background-color: rgb(0, 0, 0, 0.6);
    opacity: 0;
    transition: 0.6s;
    color: rgb(0, 0, 0);
    text-align: center;
}
